<mat-toolbar color="primary" class="header-toolbar">
  <div class="logo-container">
    <button mat-icon-button class="menu-button" (click)="toggleSidebar.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/dashboard" class="logo-link">
      <span class="app-title">Baby Clothing Store</span>
    </a>
  </div>
  
  <div class="spacer"></div>
  
  <div class="header-actions">
    <button mat-icon-button aria-label="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>
    
    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    
    <mat-menu #userMenu="matMenu">
      <div class="user-info" *ngIf="currentUser$ | async as user">
        <p class="user-name">{{ user.firstName }} {{ user.lastName }}</p>
        <p class="user-role">{{ user.role | titlecase }}</p>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
