<div class="sidebar">
  <div class="sidebar-content">
    <mat-nav-list>
      <ng-container *ngFor="let item of navItems">
        <!-- Only show items that the user has permission to see -->
        <ng-container *ngIf="hasRole(item.roles)">
          <!-- Items with children -->
          <mat-expansion-panel *ngIf="item.children" class="nav-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="nav-item">
                  <mat-icon>{{ item.icon }}</mat-icon>
                  <span>{{ item.label }}</span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <mat-nav-list>
              <ng-container *ngFor="let child of item.children">
                <a mat-list-item 
                   *ngIf="hasRole(child.roles)"
                   [routerLink]="child.route" 
                   routerLinkActive="active-link"
                   class="nav-child-item">
                  <mat-icon>{{ child.icon }}</mat-icon>
                  <span>{{ child.label }}</span>
                </a>
              </ng-container>
            </mat-nav-list>
          </mat-expansion-panel>
          
          <!-- Items without children -->
          <a mat-list-item *ngIf="!item.children" 
             [routerLink]="item.route" 
             routerLinkActive="active-link"
             class="nav-item">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </a>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </div>
</div>
